* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/

  background: var(--bg-url) no-repeat top center/cover; /*short hand, uma forma mais ágil de fazer. Se liga numa ordem: color image repeat position/size*/

  /*basicamente isso significa que teremos uma altura na tela que se adapta com maior facilidade ao viewport desse dispositivo, ou seja, a ideia é que isso vá "completar"  tela na altura, pra evitar espaços em branco*/
  height: 100vh;
}

/* * é o seletor universal */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 2555, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

#container {
  width: 100%;
  margin: 56px auto 0px;
  padding: 0 24px;
  /*margin e padding funcionam: top, left, bottom, right*/

  /*quero definir que o máximo de largura que eu terei é 588px, indepenente do tamanho do dispositivo*/
  max-width: 588px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px; /*Geralmente não é necessário configurar a altura. Ela geralmente segue o conteúdo da página*/
}

/*Por padrão os navegadores já tem um tamanho de fonte de 16px, então não precisamos adicionar isso no nosso código. Além disso, o navegador também coloca uma margem de 8px.*/
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*Switch*/

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto; /*por ser display block podemos centralizar através das margens*/
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute; /*essa chamada faz uma sobreposição de camadas*/
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block; /*naturalmente é inline*/
  width: 64px;
  height: 24px;

  background: var(--surface-color);

  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0; /*superior e inferior com 24px de padding*/
}

/*O jeito certo é o jeito que resolve*/
ul li a {
  display: flex;
  /*O flex cria uma linha virtual. É o eixo principal. A gente quer que ele fique no meio da linha*/
  border: 1px solid var(--stroke-color);
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  /*red, blue, green, transparencia*/
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*Edição dos links sociais. O display flex aqui entra para que possamos utilizar o gap de 16px*/
#social-links {
  display: flex;
  padding: 24px 0px;

  font-size: 40px; /*aumentaremos assim o tamanho dos elementos*/

  align-items: center;
  justify-content: center;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px; /*esse padding fica aqui para que a todo momento tenhamos esse padding e não somente on hover*/

  /*se não colocarmos o border radius junto com a transição a gente pode ter problemas no radius do border, ou seja, transicionaria do quadrado para a esfera e depois transicionaria a cor*/
  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
}

/*media queries*/
/*min-width significa que em uma largua menor do que 700px as regras que serão ativas são as regras configuradas dentro das chaves abaixo*/
/*as media queries só funcionam caso tenhamos viewport configurado no index*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
